{% extends "App/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    <!--Template About-->
    <h1>Sobre nosotros</h1>
    <h2>¿Quiénes somos?</h2>

    <ul>
        <li>Juani Aureliano Quevedo</li>
        <p>Persona no binaria de la comunidad LGBTIQ+. Tengo 33 años y hace más de 5 años que trabajo en programación. Estoy conectado con la tecnología desde muy chico.</p>
        <li>Julián García</li>
        <p>Soy un chico de 14 años, aficionado de la programación y la tecnología. Soy amable y ayudo a mi familia.</p>
        <li>Karim Javier Jaimes Charris</li>
        <p>Persona agradable, trabajadora, me esfuerzo por aprender y actualizarme sobre nuevos conocimientos que me aporten  mas habilidades a mi profesión.</p>      
    </ul>

{% endblock %}