{% extends "App/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    <p> Esta es una pagina sobre Video Juegos. Los videojuegos son parte de nuestra vida desde hace mucho tiempo.
        Hay de todo tipo y para diferentes edades, gustos y habilidades. Muchos juegos buenos como Fornite y CSGO.
        También juegos de PS4 como The last of us y muchos más. 
        Econtrarás noticias sobre todos tus juegos favoritos, para estar al tanto del fascinante mundo de los videojuegos.</p>

{% endblock %}